.addtodo {
  font-size: 2rem;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  //   &-tooltip {
  //     width: 100%;
  //     height: 100%;
  //     background: rgba(rgb(0, 0, 0), 0.5);
  //   }

  h1 {
    padding-bottom: 3rem;
  }

  input {
    margin-top: 10px;
    padding: 0.4rem;
    font-size: 1.4rem;
    border: none;
    background: white;

    @media (min-width: 992px) {
      font-size: 2rem;
    }
  }
}

span,
p {
  font-size: 2rem;

  @media (min-width: 992px) {
    font-size: 3rem;
  }
}
